---
import BaseLayout from "./BaseLayout.astro";
import Disqus from "../components/global/Disqus.astro";
import {AstroSeo} from "@astrolib/seo";
import { Image } from "astro:assets";
export const prerender = true;

export interface Props {
    title: string;
    description: string;
    publishDate?: string | Date;
    updatedDate?: string | Date;
    heroImage?: ImageMetadata;
    author?: string | { name: string };
    tags?: string[];
    readDuration?: number;
    slug?: string;
}

const {
    title, description, publishDate, updatedDate, heroImage, author, tags, readDuration, slug
} = Astro.props;

const formattedPublishDate = publishDate ? new Date(publishDate).toLocaleDateString('id-ID', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    timeZone: 'Asia/Jakarta'
}) : '';
---
<BaseLayout title={`Adam Ibnu | ${title}`} description={description}>
    <section class="border-white border-e border-l">
    <div class="mx-auto max-w-3xl hover:prose-a:text-black prose prose-a:text-accent-500 prose-blockquote:border-l-black prose-blockquote:text-gray-500 prose-code:text-black prose-headings:font-bold prose-headings:text-white prose-headings:tracking-tighter prose-li:marker:text-accent-500 text-gray-200 py-24 prose-pre:border">
            {heroImage && (
                <Image src={heroImage} alt={title} class="rounded-sm min-w-full px-4 sm:px-0" loading="eager" />
            )}
            <div class="flex flex-col sm:flex-row justify-between items-center -mt-4 sm:-mt-10 mb-4 sm:mb-0">
                <p class="font-light text-sm sm:text-base mb-2 sm:mb-0">{formattedPublishDate} {readDuration ? ' | ' + readDuration + ' minute(s) read' : ''}</p>
                <p class="font-light text-right">{typeof author === 'string' ? author : author?.name}</p>
            </div>
            <div class="sm:py-2 px-4 sm:px-0">
                <p class="font-bold text-3xl mt-2">{title}</p>
                <p class="-mt-2 text-gray-500">{description}</p>
                <div class="flex flex-wrap gap-3 mt-4 -mb-2">
                    {tags?.map((tag, index) => (
                            <span key={index} class="rounded py-1 px-2 text-xs capitalize duration-300 bg-gray-300 text-black">{tag}</span>
                    ))}
                </div>
                <hr>
                <slot/>
            </div>
        </div>
        <div class="px-4 sm:px-0">
        <Disqus/>
        </div>
    </section>
</BaseLayout>

